page-home {
    #form{
        position: absolute;
        padding: 20px;
        left: 0;
        right: 0;
        top: 30%;
        width: 100%;
    }
    #titulo{
        text-align: center;
        font-size: 30px
    }
}
